
body{
	font-family: Helvetica;
	font-size: 22px;
	color: seashell;
	background-color: black;
	opacity: 0.9;
	text-align: center;
	margin-top: 0;
}

nav{
	margin-top: 0;
	border-bottom: 1px solid seashell;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	height: 69px;
	background-color: black;
	z-index: 5;
}

nav #nav-logo{
	margin-left: 10px;
}

.mission-bg{
	background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg");
	height: 700px;
	width: 1200px;
	margin: 0 auto;
	position: relative;
	top: 69px;
	display: flex;
	align-items: center;
}

.mission-statement{
	background-color: black;
	width: 100%;
}

.mission-statement h2, .mission-statement h4{
	margin: 10px 0 15px 0;
}

.tea-section{
	width: 1000px;
	margin: 0 auto;
	margin-top: 150px;
	margin-bottom: 50px;
}

.tea-section-images{
	display: flex;
	flex-wrap: wrap;
}
.tea-section img{
	height: 200px;
	width: 300px;
	margin-right: 12px;
	margin-left: 12px;
}

.tea-img-description{
	margin-top: 10px;
}

.second-row{
	display: flex;
	width: 100%;
	justify-content: center;
}

.locations{
	height: 500px;
	width: 1200px;
	margin: 0 auto;
	background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg");
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.location-header{
	margin-bottom: 15px;
}
.locations-row{
		display: flex;
}

.location-square{
	background-color: black;
	width: 300px;
	height: 280px;
	border: 1px solid white;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin: 0 20px;
	opacity: 1;
}

footer{
	height: 200px;
	margin-bottom: 10px;
}

#copyright{
	width: 100%;
	text-align: left;
	margin-left: 20px;
}

.nav-links li{
	display: inline-block;
	list-style: none;
}

 .nav-links a{
	text-decoration: underline;
	margin-right: 20px;
	color: white;
}
